body {
    background-color: pink;
    font-family: 'Roboto', sans-serif;
  }
  
  .box {
    width: 300px;
    height: 300px;
    background-color: #f5f5ff;
    border-radius: 10px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #ff69b4;
    margin-top: 10px;
  }
  
  p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #4169e1;
    margin-top: 20px;
  }
  
  .button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4169e1;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0000cd;
  }